In [ ]:
import pandas as pd

In [ ]:
orders = pd.read_csv('http://bit.ly/chiporders',sep='\t')

In [ ]:
orders

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

1- How many orders are in the dataset over $50?

In [ ]:
orders['price']=orders['item_price'].str[1:].astype(float)

In [ ]:
(orders.groupby('order_id')['price'].sum()>50).sum()

28

2- What is the most popular Item?

In [ ]:
#orders['item_name'].value_counts().head(1)

In [ ]:
(orders.groupby('item_name')['quantity'].sum()).sort_values(ascending=False).head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

3- What is the item with the highest gross sales?

In [ ]:
orders.groupby('item_name')['price'].sum().idxmax()

'Chicken Bowl'

my own question: what was the most expensive order and how many items were in it?

In [ ]:
grouped = orders.groupby(['order_id']).sum().idxmax()
print(grouped)

quantity    1443
price        926
dtype: int64

In [ ]:
orders

,order_id,quantity,item_name,choice_description,item_price,price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,8.75

In [ ]:
grouped.max()

1443

4- What is the most popular salsa in the dataset?

In [ ]:
orders['f_desc']=orders['choice_description'].str.split(',',expand=True)[0]
#orders['choice_description']=str(orders['choice_description'])

In [ ]:
orders['choice_description'].str.split(',',expand=True)[0].value_counts().head(1)

[Fresh Tomato Salsa    1035
Name: 0, dtype: int64

In [ ]:
#orders.groupby(["item_name", "choice_description"])["order_id"].count().reset_index(name="count")

5- What is the most popular salsa ordered with Chicken Bowl?

In [ ]:
orders.loc[orders['item_name'].isin(['Chicken Bowl']),'choice_description'].str.split(',',expand=True)[0].value_counts().head(1)

[Fresh Tomato Salsa    321
Name: 0, dtype: int64

In [ ]:
orders[orders['item_name'].isin(['Chicken Bowl'])].groupby('f_desc')['quantity'].sum().idxmax()[1:]

'Fresh Tomato Salsa'

6- What is the most expesive item in the dataset?

In [ ]:
orders.groupby('item_name')['item_price'].max().sort_values(ascending=False).head(1)

item_name
Steak Salad Bowl    $9.39
Name: item_price, dtype: object

In [ ]:
orders.iloc[(orders['price']/orders['quantity']).idxmax()]

order_id                                                            123
quantity                                                              2
item_name                                              Steak Salad Bowl
choice_description    [Tomatillo Red Chili Salsa, [Black Beans, Chee...
item_price                                                      $23.78
price                                                             23.78
f_desc                                       [Tomatillo Red Chili Salsa
Name: 281, dtype: object

7- What order has the most items?

In [ ]:
orders.groupby('order_id')['quantity'].sum().sort_values(ascending=False).head(1)

order_id
1443    35
Name: quantity, dtype: int64

In [ ]:
orders[orders['order_id']==orders.groupby('order_id')['quantity'].sum().idxmax()]

,order_id,quantity,item_name,choice_description,item_price,price,f_desc
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25,NaN
3599,1443,7,Bottled Water,NaN,$10.50,10.50,NaN
3600,1443,1,6 Pack Soft Drink,[Coke],$6.49,6.49,[Coke]
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,33.75,[Fresh Tomato Salsa
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00,[Fresh Tomato Salsa
3603,1443,3,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$27.75,27.75,[Fresh Tomato Salsa
3604,1443,2,Bottled Water,NaN,$3.00,3.00,NaN

8- Create a column with the order price.

In [ ]:
orders['order_price']= orders.groupby('order_id')['price'].sum()

9- Create a boolean column that is true if the description contains a fruit.

***OWN QUESTION
What is the most expesive item in the dataset?

In [ ]:
orders.iloc[(orders['price']/orders['quantity']).idxmin()]

order_id                        9
quantity                        2
item_name             Canned Soda
choice_description       [Sprite]
item_price                 $2.18
price                        2.18
f_desc                   [Sprite]
order_price                  24.9
Name: 18, dtype: object

10- Find the price or your own order.

In [ ]:
makeorder = dict(zip(orders.drop_duplicates('item_name')['item_name'],orders.drop_duplicates('item_name')['item_price']))

In [ ]:
pd.Series(['Steak Burrito','Chips']).map('makeorder')

TypeError: ignored

In [ ]:
orders.to_csv('/content/drive/MyDrive/Applied Data Science/chiptole.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive