In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
fifa = pd.read_csv('/content/drive/MyDrive/Applied Data Science/Fifa Worldcup 2022 (1).csv')

In [ ]:
fifa

,Sl. No,Match No.,Team,Against,Group,Goal,Possession (%),Inside Penalty Area,Outside Penalty Area,Assists,...,Fouls Against,Offsides,Passes,Passes Completed,Crosses,Crosses Completed,Corners,Free Kicks,Penalties Scored,Pts
0,1,1,Qatar,Ecuador,A,0,40,0,0,0,...,15,3,453,387,10,5,1,19,0,0
1,2,1,Ecuador,Qatar,A,2,46,2,0,1,...,15,4,484,419,26,10,3,17,1,3
2,3,2,England,Iran,B,6,69,6,0,6,...,9,2,810,733,29,9,8,16,0,3
3,4,2,Iran,England,B,2,20,2,0,1,...,14,2,232,156,11,3,0,10,1,0
4,5,3,Senegal,Netherlands,A,0,39,0,0,0,...,13,2,391,326,22,8,6,14,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,108,54,Korea Republic,Brazil,H,1,44,0,1,0,...,13,5,548,486,14,1,4,8,0,0
108,109,55,Morocco,Spain,F,0,20,0,0,0,...,15,5,331,235,11,4,0,18,3,3
109,110,55,Spain,Morocco,E,0,63,0,0,0,...,14,4,1050,975,29,5,8,20,0,0
110,111,56,Portugal,Switzerland,H,6,43,6,0,5,...,12,3,461,392,14,6,6,13,0,3
111,112,56,Switzerland,Portugal,G,1,48,1,0,0,...,10,3,512,436,15,1,6,15,0,0

In [ ]:
(fifa.groupby('Team')['Goal'].sum()>5)

Team
Argentina          True
Australia         False
Belgium           False
Brazil             True
Cameroon          False
Canada            False
Costa Rica        False
Croatia           False
Denmark           False
Ecuador           False
England            True
France             True
Germany            True
Ghana             False
Iran              False
Japan             False
Korea Republic    False
Mexico            False
Morocco           False
Netherlands        True
Poland            False
Portugal           True
Qatar             False
Saudi Arabia      False
Senegal           False
Serbia            False
Spain              True
Switzerland       False
Tunisia           False
United States     False
Uruguay           False
Wales             False
Name: Goal, dtype: bool

In [ ]:
(fifa.groupby('Team')['Crosses Completed'].sum()).sort_values(ascending=False).head(1)

Team
Croatia    43
Name: Crosses Completed, dtype: int64

In [ ]:
fifa['% Line Breaks'] = ((fifa['Completed Line Breaks']/fifa['Attempted Line Breaks'])*100)

In [ ]:
fifa.loc[fifa['% Line Breaks'].idxmax()].head(3)

Sl. No              78
Match No.           39
Team         Argentina
Name: 77, dtype: object

In [ ]:
fifa.dtypes

Sl. No                               int64
Match No.                            int64
Team                                object
Against                             object
Group                               object
Goal                                 int64
Possession (%)                       int64
Inside Penalty Area                  int64
Outside Penalty Area                 int64
Assists                              int64
Total Attempts                       int64
On Target                            int64
Off Target                           int64
Target in Penalty                    int64
Target from Outside                  int64
Left Channel                         int64
Left Inside Channel                  int64
Central Channel                      int64
Right Inside Channel                 int64
Right Channel                        int64
Receptions MD                        int64
Receptions D                         int64
Attempted Line Breaks                int64
Completed Line Breaks                int64
Attempted Defensive Line Breaks      int64
Completed Defensive Line Breaks      int64
Yellow Cards                         int64
Red Cards                            int64
Fouls Against                        int64
Offsides                             int64
Passes                               int64
Passes Completed                     int64
Crosses                              int64
Crosses Completed                    int64
Corners                              int64
Free Kicks                           int64
Penalties Scored                     int64
Pts                                  int64
% Line Breaks                      float64
dtype: object

In [ ]:
fifa.loc[fifa['Group'].isin(['A']),'Free Kicks'].mean().round(2)

15.43